<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>this is my template2 html</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    </head>
    <body>
        <div class ="container">
            <div class="jumbotron">
        <h1>working!</h1>
       <h2>go to /user to sign up !</h2>
       </div>

       </div>

    </body>
</html>